
body{
    background-image: url(../images/pic1.jpg);
    background-size: cover;
}
.question{
    margin: auto;
    margin-top: 150px;
    background-color: plum;
    border-radius: 20px;
    outline: 17px solid rgb(216, 169, 216);
    border: 4px dashed purple;
    width: 50vw;
    

}
.mainheading{
    font-family: 'Lora', serif;
}

@media only screen and (max-width: 768px) {
    .question{
    margin-top: 50px;
    width: 75vw;
    }
}